Projekt5/src/test/resources/dataSet.dtd

<!ELEMENT dataset (
    PERSON*,
    PERSON_HAS_CAR*)>

<!ELEMENT PERSON EMPTY>
<!ATTLIST PERSON
    ID CDATA #REQUIRED
    NAME CDATA #IMPLIED
    YOB CDATA #IMPLIED
>

<!ELEMENT PERSON_HAS_CAR EMPTY>
<!ATTLIST PERSON_HAS_CAR
    CARID CDATA #IMPLIED
    ID CDATA #REQUIRED
    PERSONID CDATA #IMPLIED
>

